<h1>Posts</h1>
<%= link_to 'Create a post', new_post_path, class: 'new-post-btn' %>

<ul> 
  <% @posts.all.each do |post| %>
    <li>
      <div class="post-head">
        posted by:
        <% if user_signed_in? %>
          <span class="username"><%= post.user.username %></span>
        <% else %>
          <span class="username">anonymous</span>
        <% end %>
      </div>
      <div class="post-body">
        <%= post.body %>
      </div>
    </li>
  <% end %>
</ul>

