form {
  max-width: 500px;
  width: 100%;
  margin: 1rem auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 20rem;
}

label {
  padding: 0 .5rem;
}

input {
  padding: 0.2em 0.51em;
}

textarea {
  padding: 1rem;
  width: 100%;
  height: 200px;
  font-size: 16px;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  resize: none;
}

textarea:hover {
  transform: translateY(2px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

textarea:focus {
  outline: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"] + label{
  display: inline-flex;
  align-items: center;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #160c28;
  border-radius: .25em;
  margin-right: .5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../assets/checkmark.png");
  background-color: #160c28;
}

input[type="submit"] {
  display: block;
  margin: 1.5rem auto;
  padding: 0.7rem 1.5rem;
  background-color: #160C28;
  color: #efcb68;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

input[type="submit"]:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #B40901;
}

.field.remember {
  flex-direction: row;
  justify-content: center;
}

.new-post-btn {
  padding: 1rem;
  position: fixed;
  top: 8rem;
  right: 5rem;
  z-index: 1001;
  display: block;
  background-color: #160c28;
}
