header {
  padding: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background-color: #B40901;
}

.left,
.right {
  display: flex; 
  background-color: #B40901; 
}

a {
  margin: 0 1em;
}