header {
  padding: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background-color: var(--second);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius:  .5rem;
}

.left,
.right {
  display: flex; 
  background-color: var(--second); 
}

a {
  margin: 0 1em;
}
