/*
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--main);
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

:root {
  --main: #3d6d79;
  --background: #e0e2ee;
  --second: #d69d66;
  --error: #de1a1a;
}

/* :root {
      --main: #160c28;
      --background: #EFCB68;
      --second: #B40901;
} */

.wrapper {
  max-width: 90vw;
  margin: 3.6rem auto;
  animation-name: appear;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
}
  
.alert,
.notice {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--second);
  text-align: center;
  color:  var(--background);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.username {
  color: var(--second);
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--background);
}

a:hover {
  text-decoration: underline;
}

input,
a {
 border-radius: .5rem;
}

@keyframes appear {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}

.error_explanation {
  color: var(--error);
  text-align: center;
  font-size: .9rem;
}
